<!DOCTYPE html>
<html lang="en" ng-app="charViewer">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Char-Viewer</title>

    <link rel="stylesheet" href="webjars/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/app.css">

    <script src="webjars/angularjs/1.4.0/angular.min.js"></script>
    <script src="webjars/jquery/1.11.1/jquery.min.js"></script>
    <script src="webjars/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="js/app.js"></script>
</head>
<body ng-controller="CharCtrl">
<h1>{{ char.name }}</h1>
<h2>Class</h2>
<div ng-repeat="class in char.classes">
    {{ class.name }} {{ class.level }}
</div>

<h2>Attributes</h2>
<ul>
    <li ng-repeat="attribute in attributes">
        {{ attribute.name }}: {{ char[attribute.abbr] }} --> {{ char[attribute.abbr] | attributeModifier }}
    </li>
</ul>
</body>
</html>
