<!DOCTYPE html>
<html lang="en" ng-app="charViewer">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Char-Viewer</title>

    <link rel="stylesheet" href="webjars/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/app.css">

    <script src="webjars/angularjs/1.4.0/angular.min.js"></script>
    <script src="webjars/jquery/1.11.1/jquery.min.js"></script>
    <script src="webjars/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="js/app.js"></script>
</head>
<body ng-controller="CharCtrl">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <h1>{{ char.name }}</h1>
        </div>
        <div class="col-md-3">
            <h4>Class</h4>
            <span ng-repeat="class in char.classes">
                {{ class.name }} {{ class.level }}
            </span>
            <h4>Race</h4>
            <p>{{ char.race }}</p>
        </div>
        <div class="col-md-3">
            <h4>Background</h4>
            <p>{{ char.background }}</p>
            <h4>Alignment</h4>
            <p>{{ char.alignment }}</p>
        </div>
        <div class="col-md-2">
            <h4>Experience Points</h4>
            <span>{{ char.experiencePoints }}</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <div class="panel panel-default" ng-repeat="attribute in attributes">
                <div class="panel-heading text-center">
                    <h4>{{ attribute.name }}</h4>
                </div>
                <div class="panel-body text-center">
                    <h2>{{ char[attribute.abbr] | attributeModifier }}</h2>
                </div>
            </div>
            <ul>
                <li ng-repeat="attribute in attributes">
                    {{ attribute.name }}: {{ char[attribute.abbr] }} --> {{ char[attribute.abbr] | attributeModifier }}
                </li>
            </ul>
        </div>
        <div class="col-md-5"></div>
        <div class="col-md-5"></div>
    </div>
</div>
</body>
</html>
