<div layout-fill>
<md-content>
    <md-toolbar class="md-toolbar-tools">
        <h2>{{character.name}}</h2>
    </md-toolbar>
    <md-tabs>
        <md-tab label="Skills" layout="column">
            <md-content>
                <md-list>
                    <div ng-repeat="(key, value) in character.attributes">
                    <md-subheader>{{key}}</md-subheader>
                        <md-list-item >
                            {{value}}
                        </md-list-item>
                        <md-divider></md-divider>
                    </div>
                </md-list>
            </md-content>
        </md-tab>
        <md-tab label="Fighting">
            Weapons, Attack Rools and stuff.
        </md-tab>
        <md-tab label="Casting">
            We will display Spells and stuff here. This tab should only exist for spell caster.
        </md-tab>
        <md-tab label="Inventory">
            A neat list of the stuff the character is having with him.
        </md-tab>
        <md-tab label="Background">
            I am a awesome Hero out to save the world.
        </md-tab>
    </md-tabs>
</md-content>
</div>
