<md-card ng-if="characterSheet.character.id != undefined" flex layout="column">
    <md-toolbar class="md-toolbar-tools">
        <h2><i class="fa" ng-class="characterSheet.character.icon"></i> {{ characterSheet.character.name }}</h2>
    </md-toolbar>

    <md-card-content>
        <md-tabs md-dynamic-height>

            <md-tab label="Attributes">
                <div layout="row" layout-wrap>
                    <div flex-gt-md="33" flex-md="50" flex-sm="50" ng-repeat="(name, value) in characterSheet.character.attributes">
                        <div layout="column" layout-align="space-around center">
                            <h5 flex="15">{{ name }}</h5>
                            <h1 flex>{{ value | attributeModifier | addPlus}}</h1>
                        </div>
                    </div>
                </div>
            </md-tab>

            <md-tab label="Skills">
                <md-list>
                    <md-list-item class="md-3-line">
                        <md-input-container class="md-list-item-text">
                            <label><i class="fa fa-search"></i> Search for skill...</label>
                            <input type="text" ng-model="characterSheet.skillQuery" />
                        </md-input-container>
                    </md-list-item>

                    <md-list-item ng-repeat="skill in characterSheet.skills | filter:characterSheet.skillQuery | orderBy:'name'"
                                  layout="row" flex layout-margin ng-click="characterSheet.doSkillCheck(skill.name)">
                        <div flex="5">
                            <i class="fa" ng-class="characterSheet.getProficientInSkillIcon(skill.name)"></i>
                        </div>
                        <div flex="5" layout="column" layout-align="center center">
                            {{ characterSheet.getSkillBonus(skill.name) | addPlus }}
                        </div>
                        <div flex layout="row" layout-sm="column" layout-align="center center">
                            <div flex>{{ skill.name }}</div>
                        </div>
                    </md-list-item>
                </md-list>
            </md-tab>
        </md-tabs>

    </md-card-content>
</md-card>
